.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 22rem;
}

.accordion {
	border-radius: 0 !important;
	box-shadow: none !important;
	border-top: 1px solid #FFF;
}

.accordionIcon {
	fill: #FFF;
}

.accordionIcon {
	fill: var(--darkgrey)
}

.accordionLabel {
	font-family: inherit;
}

.accordionRoot {
	height: 100%;
	border-radius: 5px;
}

.accordionSummary {
	color: #212529;
	font-family: inherit;
	background-color: #F5F5F5;
}

.accordionSummary:hover {
	color: #0063A5;
}

.calendarTypeSelectionContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	min-width: 10rem !important;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
}

.selectOuterContainer {
	height: 7rem;
	background-color: var(--lightblue);
	width: 29rem;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}