# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs/slnx.sqlite
/.vs/web-calendar/FileContentIndex/2f0560ac-2ca1-4e5d-a782-a1cfed81b475.vsidx
/.vs/web-calendar/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/web-calendar/v17/workspaceFileList.bin
*.vsidx
.vscode/settings.json
.vscode/launch.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
