.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 2fr 3fr;
  row-gap: 0.3rem;
}

.container {
  background-color: #fff;
  margin-top: 2px;
}

@media only screen and (max-width: 475px) {
  .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.workOrderOuterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  /* padding-bottom: 10px; */
}

.workOrderInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 4px;
}

@media only screen and (max-width: 475px) {
  .workOrderOuterContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: unset !important;
  }
}

.workOrderStatus {
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
}

.workOrderText {
  font-size: 1rem;
  color: #4c4e52;
}

.workOrderValue {
  padding: 0 0.5rem;
  font-weight: 600;
}

.siteContactContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -0.1rem;
}

.siteContactText {
  padding-left: 3px;
  padding-top: 3px;
}

.infoBar {
  position: sticky;
  top: 44px;
  z-index: 2;
  background-color: #fff;
  font-size: 0.9rem;
}

.customerInfoOuterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding-left: 0.4rem;
  align-items: center;
}

.customerInfoInnerContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-left: 5px;
}

.customerInfoIcon {
  color: var(--centrablue);
  position: relative;
  padding: 0 0.3rem 0 0;
  top: -2px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* height: 80%; */
  margin-top: 0.5rem;
}

.gridnotes {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1rem;
}

.tableButtonsOuterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 3px;
  /* margin-top: -6px; */
  position: sticky;
}

.tableButtonsInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: var(--centrablue);
}

.iconBarOuterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.iconBarInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 5rem;
  margin-top: -2px;
}

.divider {
  margin: 3px;
  margin-top: 2rem;
}

.tableButtonsContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.tableTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.tableTitleContainer {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  width: 10rem;
}

.tableHeader {
  background-color: #fff;
}

.table {
  margin-bottom: 0 !important;
}

.tableTitle {
  color: var(--centrablue);
  font-weight: 600;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.icon:hover {
  cursor: pointer;
  color: #005db9;
}

.addDocumentIcon {
  color: grey;
}

.addDocumentIcon:hover {
  cursor: pointer;
  color: #005db9;
}

.goToTopIcon {
  color: lightgrey;
  font-size: 3rem;
  opacity: 80%;
  cursor: pointer;
}

.rowCheckbox {
  text-align: center;
}

.tableButton:hover {
  cursor: pointer;
  /*color: var(--centrablue);*/
  color: #0273e2;
}

.textArea {
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
  box-sizing: border-box !important; /* Opera/IE 8+ */
  min-height: 5.7rem;
}

.tabContainer {
  width: 35%;
  display: inline-block;
}

.tablesContainer {
  display: block;
}

.group {
  border: 1px solid lightgrey;
  width: 100%;
  margin-top: 1rem;
  border-radius: 2px;
}

@media only screen and (max-width: 575px) {
  .grid {
    margin-top: 0.25rem !important;
  }
}

.notesBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notesInnerContainer {
  width: 50%;
  padding: 0 0.5rem;
}

.multilineRoot {
  width: 50%;
  padding: 0 0.5rem;
}

.textArea {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 0.5rem;
  resize: vertical;
  width: 100%;
}

.inputItem {
  border: 1px solid lightgrey;
  padding: 0 0.5rem;
  border-radius: 3px;
}

.mapModal {
  width: 600px;
}

.address {
  display: inline-block;
  padding-right: 0.7rem;
}

.address:hover {
  cursor: pointer;
}

.mapIcon {
  color: #c41e3a;
  padding-left: 5px;
}

.mapIcon:hover {
  color: #d22b2b;
}

.notesItem {
  padding-top: 2px;
  padding-bottom: 2px;
}

@media only screen and (max-width: 1200px) {
  .customerInfoOuterContainer {
    display: flex;
    flex-direction: column;
  }

  .tableButtonsOuterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 3px;
    margin-top: 4px;
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .customerInfoOuterContainer {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .gridnotes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .workOrderOuterContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 940px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .gridnotes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .customerInfoIcon {
    padding: 0 0.2rem 0 0;
    color: var(--centrablue);
  }

  .customerInfoInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 0 !important;
    width: 100%;
  }

  .siteContactContainer {
    padding-left: 0;
  }

  .tablesContainer {
    display: none;
  }

  .notesBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .notesInnerContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  .mapModal {
    width: 400px;
  }
}
