.accordion {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.accordion:before {
  opacity: 0 !important;
}

.accordionIcon {
  fill: #fff;
}

.accordionIcon {
  fill: var(--darkgrey);
}

.accordionLabel {
  font-family: inherit;
  font-size: 0.9rem !important;
}

.accordionRoot {
  height: 100%;
  border-radius: 5px;
}

.accordionSummary {
  color: #212529;
  font-family: inherit;
  background-color: #f5f5f5 !important;
  border-radius: 5px !important;
  margin-top: 0.5rem !important;
}

.accordionSummary:hover {
  color: #0063a5;
}

.accordionLabelContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.accordionIcon {
  color: centra;
}

.ordersMenuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textSpan {
  display: flex;
}
