@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  height: 100%;
}

html,
body {
  /* Theme definitions */
  --fontfamily: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --lightblue: #ebeff3;
  --darkgrey: #6c757d;
  --centrablue: #0062a8;
  --lightgrey: #f5f5f5;
  --lightyellow: #fffadf;
  --lightgreen: #a5d6a7;
  --bootstrap-darkgrey: #6c757d;
  --bootstrap-primary: #0275d8;
  background-color: var(--lightblue) !important;
  height: 100%;
  min-width: 400px;
}

table,
th,
td {
}

th,
td {
  padding: 0.3rem;
  /*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}

/* --- FullCalendar overrides --- */
a.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

a.fc-col-header-cell-cushion {
  color: black;
  text-decoration: none;
}

a.fc-daygrid-day-number {
  /*width: 100%;*/
}

a.fc-daygrid-day-number:hover {
  color: #000;
}

.fc-popover {
  visibility: hidden;
}

.fc-daygrid-day-number:hover > div > i {
  opacity: 1;
}

*:focus {
  box-shadow: none !important;
  border-color: lightgray !important;
  outline: none;
}

/* onHover override */
.fc-h-event:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
/* ----------------- */

/* --- MUI overrides --- */

/*.MuiOutlinedInput-notchedOutline {
    border-width: 1px !important;

}*/

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: lightgrey !important;
}
/* ----------------- */

/* --- Bootstrap overrides --- */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #fff !important;
  border: 1px solid lightgrey;
  border-right: none;
  border-radius: 5px 0 0 5px !important;
  margin-right: -1px;
  position: relative;
  margin-left: 7px;
}

.nav-pills .nav-link {
  color: #212529 !important;
  background-color: var(--lightgrey) !important;
  border: 1px solid lightgrey;
  border-radius: 5px 0 0 5px !important;
  border-right: none;
  position: relative;
  margin-left: 12px;
  text-overflow: ellipsis !important;
  height: 2.5rem;
  overflow: hidden;
}

#dropdown-basic-button {
  font-size: 0.9rem !important;
}

#dropdown-basic-button-lite {
  font-size: 0.9rem !important;
  color: #000;
  background-color: #fff;
  border: 0px;

  &:hover {
    background-color: transparent !important;
  }
}

#dropdown-basic-button-lite-transparent {
  font-size: 0.9rem !important;
  color: #000;
  background-color: transparent;
  border: 0px;

  &:hover {
    background-color: transparent !important;
  }
}

.btn-check:focus + .btn,
.btn:focus {
  border: 1px solid transparent !important;
}

/* ----------------- */

/* --- Ant Design overrides --- */
.ant-picker {
  /*border-radius: 5px !important;*/
}

.ant-picker-input input {
  font-size: 0.9rem !important;
}

.ant-segmented {
  background-color: #fff;
  border-radius: 5px;
}

.ant-segmented-item-motion {
}

.ant-segmented-item {
}

.ant-segmented-item-selected {
  background-color: var(--centrablue) !important;
  color: #fff !important;
}

.ant-segmented-thumb {
  background-color: var(--centrablue) !important;
}

/*.ant-popover { - Disabled 11/16/23 to make calendar header filter popover working
  z-index: 1300;
}*/

.ant-btn-primary {
  background-color: #0d6efd;
  outline: none !important;
}

.ant-btn-default {
  outline: none !important;
}

.ant-switch {
    outline: none !important;
}

.ant-popover-disabled-compatible-wrapper {
  color: #fff !important;
  cursor: default !important;
  font-size: 0.9rem;
  opacity: 0.65;
  pointer-events: none;
}

.ant-popconfirm-message-icon {
  margin-top: -3px !important;
}

/* -- Upload -- */
.anticon-paper-clip {
  color: var(--darkgrey) !important;
}

.ant-upload-list-item-name {
  color: var(--darkgrey) !important;
  cursor: pointer;
}

.anticon-delete {
  /*color: red !important;    */
}
/* -- Upload -- */

.ant-tooltip {
  display: none; /* Bug fix for ant upload attachment hover showing gibberish */
}

.ant-table-tbody {
}

.ant-table-tbody > tr > td {
  padding: 5px !important;
}

/* Allow ant messages to be on top */
.MuiModal-root {
  z-index: 10 !important;
}

.custom-dropdown .dropdown-toggle::after {
  display: none;
}

/* ----------------- */

#map {
  height: 100%;
}

.image-gallery {
  min-width: 20rem;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

/* .ant-form-item-explain-error {
  display: none;
} */

@media (max-width: 575px) {
  .ant-form-item .ant-form-item-label {
    padding: 0 !important;
    margin: 0;
    white-space: initial;
    text-align: start;
  }
}

@media (min-width: 576px) {
  .ant-table table {
    font-size: 12px;
  }
}

.noFooterTimePick .ant-picker-footer {
  display: none;
}
