$bg: #5e768d;
$centraBlue: #005db9;
$centraBlueLight: #98ccff;

$centraGrayblue: rgb(100, 115, 139);
$border: rgb(148 163 184/.5);
$borderDarker: hsla(0,0%,40%,.431);

.logo {
	height: 24px;
	transform: translateY(2px);
}	
// ====================== nav start
.menu_icon {
	padding: 12px;
	display: flex;

	svg {
		height: 100%;
		width: 100%;
	}

	cursor: pointer;

	div {
		height: 100%;
		width: 100%;
		display: flex;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		display: flex;
	}
}


.root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: $bg;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #FFFFFFB0;
	padding-right: 16px;
	.header {
		display: flex;
		align-items: center;
		.menu_icon {
			svg {
				fill: #FFFFFFB0;
			}		
			&:hover {
				svg {
					fill: #FFFFFFF0;
				}
	
				background-color: rgb(255 255 255 / .3);
			}
		}
	
		.title {
			font-weight: 600;
			padding: 0px 16px 0px 8px;
			line-height: 24px;
			display: flex;
			align-items: center;
			.brand_title {
				font-size: 1rem;
				display: flex;
				align-items: center;
			}
			.sub_title {
				display: flex;
				align-items: center;
				font-size: 1rem;
				color: #FFFFFF;
				text-decoration: none;
				&::before {
					content: '';
					width: 0;
					height: 0;
					border-top: 3px solid transparent;
					border-bottom: 3px solid transparent;
					border-left: 5px solid $border;
					display: inline-block;
					margin-right: 8px;
					margin-left: 10px;
					position: relative;
					top: 2px;
				  }
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}


.nav_container.mobile {
	// position: absolute;
}
.nav_container {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	position: fixed;
	background-color: white;
	border-right: 1px solid rgb(148 163 184/.5);
	height: 100vh;
	overflow-y: auto;
	top: 0;
	width: 400px;
	max-width: 100vw;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 0px #464a4e20;
	.nav_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 20px;

		.menu_icon {
			svg {
				fill: $centraBlue;
			}
			&:hover {
				background-color: rgb(0 0 0 / .1);
			}
		}
		.title {
			color: $centraGrayblue;
			font-weight: 600;
			display: flex;
			align-items: center;

			.brand_title {
				padding-left: 8px;
				display: flex;
			align-items: center;			
			}
		}
	}
	.search {
		box-sizing: border-box;
		flex-grow: 1;
		display: flex;
		align-items: center;
		margin: 22px 0px 16px 0px;
		padding: 0px 32px;
		input {
			width: 100%;
			padding: 0px;
			margin: 0px;
			box-sizing: border-box;
			border: 1px solid $border;
			height: 40px;
			padding: 0px 40px 0px 16px;
			// padding-top: 2px;
			background-color: #e1e5f0d7;
			border-radius: 10px;
			font-size: 16px;
			display: flex;
			&::placeholder {
				color: $borderDarker;
			}
		}

		.searchicon {
			height: 16px;
			width: 16px;
			display: flex;
			margin-left: -28px;

			svg {
				// height: 100%;
				// width: 100%; // set it from svg file
				fill: $borderDarker;
			}
		}
	}
}

.nav_items_loading {
	color: $centraGrayblue;
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
	text-align: center;
	.loader {
		border: 3px solid #f3f3f3; /* Light grey */
		border-top: 3px solid #3498db; /* Blue */
		border-radius: 50%; /* Rounded borders */
		width: 32px; /* Width */
		height: 32px; /* Height */
		animation: spin 2s linear infinite; /* Animation */
	}
	
}

.nav_items_error {
	color: red;
	text-align: center;
}


/* Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	background-color: #00000020;
}

// ====================== nav end

// ====================== login start

.login {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	background-color: rgb(17 42 75 / 20%);
	backdrop-filter: blur(16px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.logout {
	margin-left: 5px;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: $centraBlueLight;
	}
}

// ====================== login end